@model CryptoCurrencyViewModel;

<h2>Hello from AdminController! It's index page.</h2>

@{ ViewData["Title"] = "Details"; }

<table class="table">

    <tr>
        <td>Name</td>
        <td>Price</td>
        <td>Last updated</td>
        <td>Image</td>
    <tr>
        <td>@Model.CurrencyName</td>
        <td>@Model.CurrencyPrice</td>
        <td>@Model.UpdatedDate</td>
        <td>@Model.CurrencyImage</td>
        <td>
            <input type="button" value="Edit" onclick="location.href='@Url.Action("Edit", "Admin", new { id = Model.Id})'"/> |
            <input type="button" value="Delete" onclick="location.href='@Url.Action("Delete", "Admin", new { id = Model.Id})'" />
        </td>
    </tr>
    <a asp-action="Index">Back to List</a>

</table>

