@model CryptoCurrencyViewModel;

<h2>Hello from AdminController! It's index page.</h2>

@{ ViewData["Title"] = "Crypto curriency details:"; }

<table class="table">

    <tr>
        <td>Name</td>
        <td>Price</td>
        <td>Last updated</td>
        <td>Image</td>
    <tr>
        <td>@Model.CurrencyName</td>
        <td>@Model.CurrencyPrice</td>
        <td>@Model.UpdatedDate</td>
        <td>@Model.CurrencyImage</td>
        <td>
            <a asp-action="Edit" asp-controller="Admin" asp-route-id="@Model.Id">Edit</a>
            <a asp-action="Delete" asp-controller="Admin" asp-route-id="@Model.Id">Delete</a>
        </td>
    </tr>
    </tr>

</table>
