@model List<CryptoCurrencyViewModel>;

<h2>Hello from AdminController! It's index page.</h2>

@{
    ViewData["Title"] = "Admin page";
}

<input type="button" value="Create" onclick="location.href='@Url.Action("Create", "Admin")'" />

<table class="table">
    <tr>
        <th>
            #
        </th>
        <th>
            CurrencyImage
        </th>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewBag.SortByName">
                Currency Name
            </a>

        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td><img src="@item.CurrencyImage" style="width:50px;height:50px;" /></td>
            <td>@item.CurrencyName</td>
            <td>
                <input type="button" value="Details" onclick="location.href='@Url.Action("Details", "Admin", new { id = item.Id})'" />
            </td>
        </tr>
    }
</table>
