@model List<CryptoCurrencyViewModel>;

<h2>Hello from UserController! It's index page.</h2>

@{
    ViewData["Title"] = "Index";
}

<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" value="@ViewData["GetStringForSearch"]" name="searchString" style="width:500px;" />
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <a asp-action="Index">Back to Full List</a>
    </div>
</nav>

<table class="table">
    <thead>
        <tr>
            <th>
                Image
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.SortByName" asp-route-searchString="@ViewData["GetStringForSearch"]">
                    Name
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.SortByPrice" asp-route-searchString="@ViewData["GetStringForSearch"]">
                    Price
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.SortByDate" asp-route-searchString="@ViewData["GetStringForSearch"]">
                    Updated date
                </a>
            </th>

        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td><img src="~/images/currencies/@item.CurrencyImage" style="width:50px;height:50px;" /></td>
            <td>@item.CurrencyName</td>
            <td>@item.CurrencyPrice</td>
            <td>@item.UpdatedDate</td>
            <td>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Bet
                </button>
            </td>
        </tr>
    }
</table>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
